@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

:root {
    --primary-color: #00b8b8;
    --secondary-color: #339fa3;
    --text-color: #04595c;
    --background-color: #bffdff;
    --button-hover: #036b6b;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    text-align: center;
}

{
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

@media (max-width: 768px) {
    .conteudo {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
    }
}